<meta charset="utf-8"/>
<title>
  <%= title %>
</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport"/>
<%= raw meta_data_tags %>
<%= canonical_tag current_store.url %>
<%= favicon_link_tag 'favicon.ico' %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= render 'spree/shared/paths' %>
<%= yield :head %>
