<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/head' %>
    <%= render 'shared/spree_head' %>
  </head>
  <body class='<%= "#{controller_name} #{controller_name}-#{action_name}" %>'>
    <%= render 'spree/shared/google_analytics.js' %>
    <div id="app">
      <%= react_component 'Header' %>
      <main>
        <%= react_component 'App' %>
      </main>
      <%= react_component 'Footer' %>
    </div>
    <%= redux_store_hydration_data %>
  </body>
</html>
