<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/head' %>
    <%= canonical_tag current_store.url %>
    <%= render 'spree/shared/paths' %>
    <%= javascript_include_tag 'vendor_bundle' %>
    <%= javascript_pack_tag 'common' %>
    <%= stylesheet_pack_tag 'common', media: 'all' %>
    <%= javascript_pack_tag 'spree' %>
    <%= stylesheet_pack_tag 'spree', media: 'all' %>
    <%= hydrate_taxonomies 'spreeStore' %>
    <%= hydrate_user 'spreeStore' %>
    <%= hydrate_order 'spreeStore' %>
  </head>
  <body class='<%= "#{controller_name} #{controller_name}-#{action_name}" %>'>
    <%= render 'spree/shared/google_analytics.js' %>
    <div id="app">
      <%= react_component 'Header' %>
      <main>
        <%= yield %>
      </main>
      <%= react_component 'Footer' %>
    </div>
    <%= redux_store_hydration_data %>
  </body>
</html>
