<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/head' %>
    <%= canonical_tag current_store.url %>
    <%= render 'spree/shared/paths' %>
    <%= env_stylesheet_link_tag    static: 'spree_bundle', hot: 'vendor_bundle', media: 'all' %>
    <%= env_javascript_include_tag static: 'spree_bundle', hot: 'vendor_bundle', media: 'all' %>
    <%= env_stylesheet_link_tag     hot: 'localhost:3500/spree-bundle.css' %>
    <%= env_javascript_include_tag  hot: [ 'localhost:3500/common-bundle.js',
                                          'localhost:3500/spree-bundle.js'], media: 'all' %>
  </head>
  <body class='<%= "#{controller_name} #{controller_name}-#{action_name}" %>'>
    <%= render 'spree/shared/google_analytics.js' %>
    <div id="app">
      <%= react_component 'Header' %>
      <main>
        <%= yield %>
      </main>
      <%= react_component 'Footer' %>
    </div>
    <%= redux_store_hydration_data %>
  </body>
</html>
